@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.task_status_group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 30px 8%;
  align-items: flex-start;
  width: 100%;
}

.task_status_group > * {
  flex: 1 1 0;
  min-width: 0;
}

.task_column {
  background-color: #f0d5d5;
}

.task_bottom_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
